
body{

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: gray;
}


.main{
    width: 350px;
    padding: 40px;
    border: 2px solid red;
    border-radius: 10px;
}